*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    width: 1440px;
    height: 195px;
}
header .container-header1{
    display: flex;
    align-items: center;
    margin-top: 38px;
    margin-left: 100px;
}
header .container-header1 .logo{
    display: flex;
    
}
header .logo img{
    width: 33px;
    height: 33px;
    margin-right: 10px;
}
header .logo h1{
    size: 36.4px;
    font-family: Inter;
    color: #C92071;
}
header .container-header1 .container-input{
    width: 550px;
    height: 53px; 
    margin-left: 40px;
    top: 34px;
    border-radius: 8px;
    border: none;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
header .container-header1 .container-input input{
    width: 100%;
    height: 75%;
    background-color: #F5F5F5;
    border: none;
    border-radius: 8px;
    margin-top: 4px;
}
header .container-header1 .container-input img{
    padding: 10px;
    cursor: pointer;
}
header .container-header1 a{
    margin-left: 30px;
    margin-right: 30px;
}
header .container-header1 button{
    margin-right: 30px;
    height: 53px;
    width: 100px;
    border-radius: 8px;
    border: none;
    background-color:  #C92071;
    color: white;
    cursor: pointer;
}
header .container-header1 .buy{
    height: 30px;
    cursor: pointer;
}
header .menu-header{
    margin-left: 100px;
}
header .menu-header .home-li{
    font-weight: bold;
    border-bottom: 5px solid #C92071; 
}
header .menu-header .home-li a{
    color:  #C92071;
}
header .menu-header ul{
    display: flex;
    list-style: none;
}
header .menu-header ul li{
    margin-right: 20px;
}
header .menu-header ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #474747;
}

.container-primario{
    background-color: #F5F5F5;
    width: 1440px;
    height: 681px;
    background-image: url(imagem/White-Sneakers-PNG-Clipart.png);
    background-repeat: no-repeat;
    
    background-position: right;
}
.container-primario .ofertas{
    width: 510px;
    height: 352px; 
}
.container-primario .ofertas p{
    color: #F6AA1C;
    font-size: 16px;
    margin-bottom: 20px;
}
.container-primario .ofertas h1{
    margin-bottom: 20px;
    font-size: 64px;
}
.container-primario .ofertas h3{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: none;
}
.container-primario .ofertas a{
    background-color: #C92071 ;
    border-radius: 8px;
    padding: 10px;
    color: white;
    text-decoration: none;
}
.container-primario .container-ofertas{
    width: 1303px;
    height: 398px;
    margin-top: 150px;
    margin-left: 100px;
    background-image: url(imagem/Ornament\ 11.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 100px;
}
.container-primario .container-group{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.container-2{
    display: flex;
    flex-direction: column;
}
.container-2 div{
    display: flex;
}